:root {
  --accent-color: var(--accent-color);
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

$color-iris: #4d5ae5;
$color-ocean: #404bbf;
$color-navy-blue: #2e2f42;

$color-slate: #434455;

$color-cornflower: #e7e9fc;
$color-cloud: #f4f4fd;

$color-navy-blue-modal: #2e2f42;
$color-grey: #2e2f42;

$color-green: #31d0aa;
$color-light-slate: #8e8f99;

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: #fff;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.modal-btn-hero {
  background-color: #4d5ae5;
  color: #fff;
}
.modal-btn-filter {
  background-color: #f4f4fd;
  color: #4d5ae5;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  color: #fff;
}
/* < < < < < < < < < < COMPONENTS COLOR > > > > > > > > > > */

.title-theme-dark {
  color: #fff;
}
.title-theme-light {
  color: #2e2f42;
}

.text-theme-dark {
  color: #e7e9fc;
}

/* < < < < < < < < < < COMPONENTS STYLE > > > > > > > > > > */
/* <<<<<<<<<<<<<<<<<<  h1 */
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* <<<<<<<<<<<<<<<<<< h2 */
.section-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* <<<<<<<<<<<<<<<<<< h3 */
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* <<<<<<<<<<<<<<<<<< basic text */
.body-text-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* < < < < < < < < < < HEADER > > > > > > > > > > */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-header {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:active,
.contact-email:active,
.contact-phone:active,
.menu-link:hover,
.contact-email:hover,
.contact-phone:hover {
  color: #404bbf;
}

.contact-email,
.contact-phone {
  color: #434455;
}

/* < < < < < < < < < < HERO > > > > > > > > > > */

.hero {
  background-color: #2e2f42;
}

/* < < < < < < < < < < COMPANY ADVANTAGES > > > > > > > > > > */

/* < < < < < < < < < < COMPANY PRODUCTS > > > > > > > > > > */

/* < < < < < < < < < < COMPANY TEAM > > > > > > > > > > */
.team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #fff;
}
/* < < < < < < < < < < FOOTER  > > > > > > > > > > */
.logo-studio-footer {
  color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #e7e9fc;
}
