:root {
  --accent-color: var(--accent-color);
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --primary-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: #fff;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
}
/* < < < < < < < < < < COMPONENTS COLOR > > > > > > > > > > */
/* to be color #fff */
.title-theme-dark {
  color: yellowgreen;
}
.title-theme-light {
  color: #2e2f42;
}

.text-theme-dark {
  color: #e7e9fc;
}

/* < < < < < < < < < < COMPONENTS STYLE > > > > > > > > > > */
/* <<<<<<<<<<<<<<<<<<  h1 */
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* <<<<<<<<<<<<<<<<<< h2 */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* <<<<<<<<<<<<<<<<<< h3 */
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* <<<<<<<<<<<<<<<<<< basic text */
.body-text-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* < < < < < < < < < < HEADER > > > > > > > > > > */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:active,
.contact-email:active {
  color: #404bbf;
}

.contact-phone,
.contact-email {
  color: #434455;
}
/* font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */

/* < < < < < < < < < < HERO > > > > > > > > > > */

.modal-btn {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

/* < < < < < < < < < < COMPANY ADVANTAGES > > > > > > > > > > */

/* < < < < < < < < < < COMPANY PRODUCTS > > > > > > > > > > */

/* < < < < < < < < < < COMPANY TEAM > > > > > > > > > > */

/* < < < < < < < < < < FOOTER  > > > > > > > > > > */
